$colors:
#7d9e3c,
#fe9f8c,
#b17653,
#efed89,
black,
white,
#faf878c4,
#9ab250;

$letras:
"Raleway",
"Cinzel",
"Montaga",
"Halant";

$size:
5rem,
4rem,
3rem,
2.5rem,
2.3rem,
2rem,
1.8rem,
1.7rem,
1rem;